
body {
	background-color: grey;}

h3 {
    color: white;
	font-family: Arial;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-width: medium;}
ul{
    color: Black;
	font-family: Arial;
    font-size: 20px;
    text-align: left;  
	border-style: solid;
    border-width: medium;}
p {font-family: Arial;
    font-size: 25px;
	color: black;
	position: absolute;
	right: 200px;
	border-style: solid;
    border-width: medium;
	
}

img {  border-style: solid;
	   padding: 5px;}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 20px;
}
	
nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	color: #596365;
}

nav a:hover {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	color: #000;
}


